/configure
/Makefile.in
/config.log
/config.status
/depcomp
/stamp-h1
/config.h
/config.h.in
/t
/autom4te.cache
/missing
/aclocal.m4
/Makefile
/install-sh
/src/Makefile.in
/src/keymania
/src/.deps
/src/Makefile
/src/precompiled.h.gch
