/Ninjas.ncb
/connectionmap.xml
/allegro.log
/Ninjas.vcproj.*.user
/Ninjas.suo
/connections.xml
/Debug
/settings.xml
/Ninjas.aps
/Makefile.in
/Doxyfile
/.deps
/Makefile
/ninjas
/*.dll
/*.exe
/*.gch
/t
/*.ii
/*.s
